In [2]:
import sqlite3

In [10]:
conn = sqlite3.connect('jobs.db')

In [4]:
c = conn.cursor()

In [ ]:
data = pd.DataFrame(columns=['Title','Company','Salary','Experience','Requirements','Posted'])

In [14]:
c.execute(""" CREATE TABLE jobs(
              Title VARCHAR(100),
              Company VARCHAR(100),
              Salary  VARCHAR(30),
              Experience VARCHAR(40),
              Requirements VARCHAR(500),
              Posted VARCHAR(20))
            """)

OperationalError: table jobs already exists

In [6]:
conn.commit()

In [7]:
conn.close()

In [34]:
from collections import Counter

In [35]:
f = ['fixed assets', 'statutory audit', 'icwa inter', 'accounting', 'finance', 'us gaap', 'general ledger', 'bank reconciliation', 'auditor', 'excel', 'accounts analyst', 'accounting', 'sez', 'taxation', 'ifrs', 'tax audit', 'accounts executive', 'tds', 'accountant', 'gst', 'auditing', 'accounting', 'internal audit', 
'accounts assistant', 'statutory audit', 'internal audit', 'financial reporting', 'sap', 'accounting', 'direct tax', 'chartered accountant', 'ind as', 'tax returns', 'income tax returns', 'accountant', 'accounting', 'accounts', 'tally', 'book keeping', 'tally', 'accounting', 'taxation', 'mcom', 'finance', 'loss', 'profit', 'mba', 'cost accounting', 'cost sheet', 'product costing', 'mis preparation', 'cost analysis', 'finance', 'reconciliation', 'cost sheet preparation', 'netsuite', 'accounts receivable', 'accounts payable', 'it skills', 'big data', 'corporate finance', 'ar', 'vendor payments', 'us gaap', 'financial reporting', 'general accounting', 'accounting', 'financial planning', 'trend','analysis', 'workflow', 'indirect taxation', 'p', 'tally software', 'accounting', 'ms office', 'journal entries', 'sales tax', 'billing', 'gaap', 'cash flow', 'cash management', 'forecasting', 'balance sheet', 'oral communication', 'written', 'revenue accounting', 'salesforce com', 'excel', 'it skills', 'cloud', 'rpa', 'accounts payable', 'accounting', 'us gaap', 'financial reporting', 'general accounting', 'accounting', 'financial planning', 'trend analysis', 'workflow', 'indirect taxation', 'accounting', 'chartered accountant', 'finance & accounts', 'book keeping', 'financial planning', 'financial analysis', 'statutory audit', 'accounting', 'chartered accountant', 'taxation', 'bcom', 'tally', 'accounting functions', 'finance', 'statutory audit', 'general accounting', 'account management', 'internal audit', 'tds', 'external audit', 'quick books', 'financial management', 'tds', 'accounting', 'gaap', 'gst', 'accounts receivable', 'accounts payable', 'analytical skills', 'tally', 'tds', 'payroll', 'bank reconciliation', 'accounting', 'banking', 'ms office tools']

In [42]:
f = dict(Counter(f))

In [47]:
g = []
for i in f.items():
    g.append({'name':i[0],'value':i[1]})

In [48]:
g

[{'name': 'fixed assets', 'value': 1},
 {'name': 'statutory audit', 'value': 4},
 {'name': 'icwa inter', 'value': 1},
 {'name': 'accounting', 'value': 14},
 {'name': 'finance', 'value': 4},
 {'name': 'us gaap', 'value': 3},
 {'name': 'general ledger', 'value': 1},
 {'name': 'bank reconciliation', 'value': 2},
 {'name': 'auditor', 'value': 1},
 {'name': 'excel', 'value': 2},
 {'name': 'accounts analyst', 'value': 1},
 {'name': 'sez', 'value': 1},
 {'name': 'taxation', 'value': 3},
 {'name': 'ifrs', 'value': 1},
 {'name': 'tax audit', 'value': 1},
 {'name': 'accounts executive', 'value': 1},
 {'name': 'tds', 'value': 4},
 {'name': 'accountant', 'value': 2},
 {'name': 'gst', 'value': 2},
 {'name': 'auditing', 'value': 1},
 {'name': 'internal audit', 'value': 3},
 {'name': 'accounts assistant', 'value': 1},
 {'name': 'financial reporting', 'value': 3},
 {'name': 'sap', 'value': 1},
 {'name': 'direct tax', 'value': 1},
 {'name': 'chartered accountant', 'value': 3},
 {'name': 'ind as', 'value': 1},
 {'name': 'tax returns', 'value': 1},
 {'name': 'income tax returns', 'value': 1},
 {'name': 'accounts', 'value': 1},
 {'name': 'tally', 'value': 4},
 {'name': 'book keeping', 'value': 2},
 {'name': 'mcom', 'value': 1},
 {'name': 'loss', 'value': 1},
 {'name': 'profit', 'value': 1},
 {'name': 'mba', 'value': 1},
 {'name': 'cost accounting', 'value': 1},
 {'name': 'cost sheet', 'value': 1},
 {'name': 'product costing', 'value': 1},
 {'name': 'mis preparation', 'value': 1},
 {'name': 'cost analysis', 'value': 1},
 {'name': 'reconciliation', 'value': 1},
 {'name': 'cost sheet preparation', 'value': 1},
 {'name': 'netsuite', 'value': 1},
 {'name': 'accounts receivable', 'value': 2},
 {'name': 'accounts payable', 'value': 3},
 {'name': 'it skills', 'value': 2},
 {'name': 'big data', 'value': 1},
 {'name': 'corporate finance', 'value': 1},
 {'name': 'ar', 'value': 1},
 {'name': 'vendor payments', 'value': 1},
 {'name': 'general accounting', 'value': 3},
 {'name': 'financial planning', 'value': 3},
 {'name': 'trend', 'value': 1},
 {'name': 'analysis', 'value': 1},
 {'name': 'workflow', 'value': 2},
 {'name': 'indirect taxation', 'value': 2},
 {'name': 'p', 'value': 1},
 {'name': 'tally software', 'value': 1},
 {'name': 'ms office', 'value': 1},
 {'name': 'journal entries', 'value': 1},
 {'name': 'sales tax', 'value': 1},
 {'name': 'billing', 'value': 1},
 {'name': 'gaap', 'value': 2},
 {'name': 'cash flow', 'value': 1},
 {'name': 'cash management', 'value': 1},
 {'name': 'forecasting', 'value': 1},
 {'name': 'balance sheet', 'value': 1},
 {'name': 'oral communication', 'value': 1},
 {'name': 'written', 'value': 1},
 {'name': 'revenue accounting', 'value': 1},
 {'name': 'salesforce com', 'value': 1},
 {'name': 'cloud', 'value': 1},
 {'name': 'rpa', 'value': 1},
 {'name': 'trend analysis', 'value': 1},
 {'name': 'finance & accounts', 'value': 1},
 {'name': 'financial analysis', 'value': 1},
 {'name': 'bcom', 'value': 1},
 {'name': 'accounting functions', 'value': 1},
 {'name': 'account management', 'value': 1},
 {'name': 'external audit', 'value': 1},
 {'name': 'quick books', 'value': 1},
 {'name': 'financial management', 'value': 1},
 {'name': 'analytical skills', 'value': 1},
 {'name': 'payroll', 'value': 1},
 {'name': 'banking', 'value': 1},
 {'name': 'ms office tools', 'value': 1}]

In [11]:
c = conn.cursor()

In [17]:
c.execute("INSERT INTO jobs VALUES ('Doctor','Aster','[20000]','[4-9]','[12,45]','[4 days ago]')")

In [28]:
c.execute("SELECT * FROM jobs")

In [29]:
items = c.fetchall()

In [33]:
for i in items:
    print(i)

('Doctor', 'Aster', '[20000]', '[4-9]', '[12,45]', '[4 days ago]')